@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: 'arrows';
    src: url(//fonts/arrows/arrows.eot);
    src: url(//fonts/arrows/arrows.eot?#iefix) format('embedded-opentype'), url(../fonts/arrows/arrows.woff) format(woff), url(../fonts/arrows/arrows.ttf) format(truetype), url(../fonts/arrows/arrows.svg#arrows) format(svg);
    font-weight: normal;
    font-style: normal;
}

.green {
    background-color: #86C166;
}

.greenW {
    color: #86C166;
}

.red {
    background-color: #F24;
}

.white {
    background-color: #FCFAF2;
}

.whiteW {
    color: #FCFAF2;
}

.blackB {
    border: 1px solid #000000;
}

.blackW {
    color: #000000;
}

.orangeB {
    border: 1px solid #FC9F4D;
}

.letter-spacing-2 {
    letter-spacing: 3px;
}

.none {
    visibility: hidden;
}

.cursor {
    cursor: pointer;
}

* {
    font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
}

html,
body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.navbar {
    width: 80%;
    height: auto;
    border: 3px solid #FCFAF2;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
}

.navA {
    font-size: 20px;
    padding-bottom: 5px;
}

.navA:hover {
    color: #86C166;
}

.lineBox {
    width: 460px;
}

.line {
    width: 120px;
    border-top: 2px solid #FC9F4D;
    opacity: 0;
    transition-duration: 0.5s;
}

.m01 {
    margin-left: 16px;
    opacity: 1;
}

.m02 {
    margin-left: 168px;
    opacity: 1;
}

.m03 {
    margin-left: 322px;
    opacity: 1;
}

.logo {
    height: 50px;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo p {
    font-size: 30px;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1439920120577-eb3a83c16dd7?auto=format&fit=crop&w=967&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

.img04 {
    width: 80px;
    height: auto;
}

header .icon {
    /* border: 1px solid #000000; */
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

header p {
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
    font-size: 20px;
}


/* header::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 15px;
    position: absolute;
    bottom: -30px;
} */

.nav1 {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-image: url('/img/nav.png');
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
}

.section {
    height: 100vh;
    width: 100%;
}

.sec {
    height: auto;
    width: 100%;
}

.sec p {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
    color: #2c2c2c;
    font-size: 20px;
}

.intro {
    height: 90vh;
    width: 100%;
}

.img01 {
    background-image: url(https://images.unsplash.com/photo-1502487901474-c6c3cc90521d?auto=format&fit=crop&w=1031&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

.img01 .wordBox {
    position: absolute;
    right: 10%;
    bottom: -70px;
}

.img01 .wordBox h1 {
    font-size: 150px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.img01 .wordBox h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    position: absolute;
    bottom: -20px;
    right: 0px;
}

.img05 {
    width: 100%;
    -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
}

.paper .wordBox {
    width: 70%;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.paper {
    position: relative;
}

.paper h3 {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #FC9F4D;
    font-size: 20px;
}

.paper p {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    color: #2c2c2c;
    font-size: 16px;
}

.line02 {
    width: 80px;
    border-bottom: 2px solid #FC9F4D;
}

.box_img06 {
    width: 50%;
    /* border: 2px solid #FC9F4D; */
}

.img06 {
    width: 100%;
    height: auto;
}

.longText {
    line-height: 30px;
}

.box_txt {
    height: auto;
    width: 100%;
}

.box_txt h3 {
    font-size: 16px;
}

.circle {
    width: 60px;
    height: 60px;
}

.txt {
    width: 50px;
    height: 50px;
}

.bb-custom-wrapper a:hover {
    text-decoration: none;
    outline: none;
}

.txtBox {
    padding: 32px 0px;
    width: 100%;
    height: 510px;
}

.txt1 {
    background-color: #ffffff;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
}

.txtBox .wordBox {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

.txtBox .wordBox h1 {
    font-size: 120px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.txtBox .wordBox h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

.txtBox .wordBox01 {
    position: absolute;
    left: 300px;
    bottom: 50px;
}

.txtBox .wordBox01 h1 {
    font-size: 120px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.txtBox .wordBox01 h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

@media (max-width: 575px) {
    .navbar a {
        font-size: 12px;
        letter-spacing: 1px;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
    .img01 .wordBox {
        position: absolute;
        right: 5%;
        bottom: -35px;
        -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    .img01 .wordBox h1 {
        font-size: 80px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    .img01 .wordBox h2 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 10px;
        position: absolute;
        bottom: -10px;
        right: 0px;
    }
    .sec p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 900;
        color: #2c2c2c;
        font-size: 14px;
    }
    .paper h3 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        color: #FC9F4D;
        font-size: 16px;
    }
    .paper p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        color: #2c2c2c;
        font-size: 14px;
        line-height: 24px;
    }
    .paper .wordBox {
        width: 70%;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    header p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 900;
        color: white;
        font-size: 16px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
    .img01 .wordBox h1 {
        font-size: 100px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    .img01 .wordBox h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 10px;
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
    .paper h3 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        color: #FC9F4D;
        font-size: 20px;
    }
    .paper p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        color: #2c2c2c;
        font-size: 14px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
    .img01 .wordBox h1 {
        font-size: 100px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    .img01 .wordBox h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 10px;
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
    .paper h3 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        color: #FC9F4D;
        font-size: 20px;
    }
    .paper p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        color: #2c2c2c;
        font-size: 14px;
    }
    .box_txt h3 {
        font-size: 16px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .paper .wordBox {
        width: 70%;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}