    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    @font-face {
        font-family: 'arrows';
        src: url(//fonts/arrows/arrows.eot);
        src: url(//fonts/arrows/arrows.eot?#iefix) format('embedded-opentype'), url(../fonts/arrows/arrows.woff) format(woff), url(../fonts/arrows/arrows.ttf) format(truetype), url(../fonts/arrows/arrows.svg#arrows) format(svg);
        font-weight: normal;
        font-style: normal;
    }
    
    .mainColor {
        background-color: #14213D;
    }
    
    .mainColorW {
        color: #14213D;
    }
    
    .secondColor2 {
        background-color: #E4E1DA;
    }
    
    .secondColor2W {
        color: #E4E1DA;
    }
    
    .secondColor {
        background-color: #ffffff;
    }
    
    .secondColorW {
        color: #ffffff;
    }
    
    .thirdColor {
        background-color: #FCA311;
    }
    
    .thirdColorW {
        color: #FCA311;
    }
    
    .fourthColor {
        background-color: #F1E398;
    }
    
    .fourthColorW {
        color: #F1E398;
    }
    
    .fiveColor {
        background-color: #1E1F24;
    }
    
    .fiveColorW {
        color: #1E1F24;
    }
    
    .green {
        background-color: #86C166;
    }
    
    .greenW {
        color: #86C166;
    }
    
    .red {
        background-color: #F24;
    }
    
    .white {
        background-color: #FFFFFF;
    }
    
    .whiteW {
        color: #FFFFFF;
    }
    
    .blackB {
        border: 1px solid #000000;
    }
    
    .blackW {
        color: #000000;
    }
    
    .orangeB {
        border: 1px solid #FC9F4D;
    }
    
    .letter-spacing-2 {
        letter-spacing: 3px;
    }
    
    .none {
        visibility: hidden;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    * {
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
    }
    
    html,
    body {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        /* overflow: hidden; */
    }
    
    .navbar {
        width: 80%;
        height: auto;
        border: 3px solid #E4E1DA;
        border-radius: 10px;
        -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    
    .navA {
        font-size: 20px;
        padding-bottom: 5px;
    }
    
    .navA:hover {
        color: #14213D;
    }
    
    .lineBox {
        width: 460px;
    }
    
    .line {
        width: 120px;
        border-top: 2px solid #FFBB66;
        opacity: 0;
        transition-duration: 0.5s;
    }
    
    .m01 {
        margin-left: 16px;
        opacity: 1;
    }
    
    .m02 {
        margin-left: 168px;
        opacity: 1;
    }
    
    .m03 {
        margin-left: 322px;
        opacity: 1;
    }
    
    .logo {
        height: 35px;
    }
    
    .logo img {
        height: 100%;
        width: auto;
    }
    
    .logo p {
        font-size: 30px;
    }
    
    header {
        height: 100vh;
        width: 100%;
        /* background-image: url(https://images.unsplash.com/photo-1439920120577-eb3a83c16dd7?auto=format&fit=crop&w=967&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        -moz-background-size: cover;
        background-size: cover;
        position: relative;
    }
    
    .img04 {
        width: 80px;
        height: auto;
    }
    
    header .icon {
        /* border: 1px solid #000000; */
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
    }
    
    header p {
        text-align: center;
        padding: 0;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 300;
        color: white;
        font-size: 20px;
    }
    /* header::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 15px;
    position: absolute;
    bottom: -30px;
} */
    
    .nav1 {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        /* background-image: url(https://i.imgur.com/uElOuOS.png); */
        background-repeat: no-repeat;
        background-position: center center;
        -moz-background-size: cover;
        background-size: cover;
    }
    
    .section {
        height: 100vh;
        width: 100vw;
    }
    
    .sec {
        height: auto;
        width: 100%;
    }
    
    .sec p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 20px;
    }
    
    .intro {
        height: 90vh;
        width: 100%;
    }
    
    .img01 {
        /* background-image: url(https://images.unsplash.com/photo-1502487901474-c6c3cc90521d?auto=format&fit=crop&w=1031&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
        background-image: url(https://i.imgur.com/7es8qxR.png);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        -moz-background-size: cover;
        background-size: cover;
        position: relative;
    }
    
    .img01 .wordBox {
        position: absolute;
        right: 10%;
        bottom: -70px;
    }
    
    .img01 .wordBox h1 {
        font-size: 150px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .img01 .wordBox h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 10px;
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
    
    .img05 {
        width: 100%;
        -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    
    .paper .wordBox {
        width: 70%;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .paper {
        position: relative;
    }
    
    .paper h3 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        color: #FCA311;
        font-size: 20px;
    }
    
    .paper p {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        color: #2c2c2c;
        font-size: 16px;
    }
    
    .line02 {
        width: 80px;
        border-bottom: 2px solid #FCA311;
    }
    
    .box_img06 {
        width: 50%;
        /* border: 2px solid #FC9F4D; */
    }
    
    .img06 {
        width: 100%;
        height: auto;
    }
    
    .longText {
        line-height: 30px;
    }
    
    .box_txt {
        height: auto;
        width: 100%;
    }
    
    .box_txt h3 {
        font-size: 16px;
    }
    
    .circle {
        width: 60px;
        height: 60px;
    }
    
    .txt {
        width: 50px;
        height: 50px;
    }
    
    .bb-custom-wrapper a:hover {
        text-decoration: none;
        outline: none;
    }
    
    .txtBox {
        padding: 32px 0px;
        width: 100%;
        height: 510px;
    }
    
    .txt1 {
        background-color: #ffffff;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
    }
    
    .txtBox .wordBox {
        position: absolute;
        left: 25%;
        bottom: 60px;
    }
    
    .txtBox .wordBox h1 {
        font-size: 120px;
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .txtBox .wordBox01 {
        position: absolute;
        right: 25%;
        bottom: 60px;
    }
    
    .txtBox .wordBox01 h1 {
        font-size: 120px;
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .txtBox .wordBox02 {
        position: absolute;
        left: 15%;
        bottom: 100px;
    }
    
    .txtBox .wordBox02 h1 {
        font-size: 100px;
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .txtBox .wordBox03 {
        position: absolute;
        right: 15%;
        bottom: 100px;
    }
    
    .txtBox .wordBox03 h1 {
        font-size: 100px;
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .img02 {
        background-image: url(https://i.imgur.com/8VgDLrb.jpg);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        -moz-background-size: cover;
        background-size: cover;
        position: relative;
    }
    
    .img02 .wordBox {
        position: absolute;
        right: 10%;
        bottom: -70px;
    }
    
    .img02 .wordBox h1 {
        font-size: 150px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .img02 .wordBox h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 10px;
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
    
    .videoBox {
        width: 100%;
        height: auto;
    }
    
    .fz40 {
        font-size: 40px;
        font-weight: 700;
        color: #FCA311;
    }
    /* This is purely for the demo */
    
    .animationPage .container {
        max-width: 800px;
        height: 300px;
        margin: 0 auto;
        box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
        background-color: #fff;
    }
    
    .animationPage .container1 {
        max-width: 800px;
        height: auto;
        box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
        background-color: #fff;
    }
    
    .plyr {
        border-radius: 4px;
        margin-bottom: 15px;
    }
    
    .space {
        width: 100%;
        height: 100px;
    }
    
    .space2 {
        width: 100%;
        height: auto;
    }
    
    .up {
        height: 50vh;
    }
    
    .up img {
        width: 40vw;
    }
    
    .down {
        height: 50vh;
        position: relative;
        width: 100%;
        max-width: 1400px;
        float: left;
        margin: 0 auto;
    }
    
    .web,
    .pm,
    .art,
    .an {
        position: absolute;
        bottom: 0;
    }
    
    .web {
        left: 16%;
        z-index: 11;
    }
    
    .pm {
        left: 33%;
        z-index: 12;
    }
    
    .art {
        right: 34%;
        z-index: 14;
    }
    
    .an {
        right: 16%;
        z-index: 13;
    }
    
    .p1 {
        height: 308px;
        cursor: pointer;
    }
    
    .p111 {
        visibility: hidden;
        z-index: 20;
        position: absolute;
    }
    
    .p1111 {
        height: 94px;
        top: -150px;
    }
    
    .p112 {
        height: 62px;
        top: -40px;
        right: 30px;
    }
    
    .p113 {
        height: 76px;
        top: 50px;
        right: 150px;
    }
    
    .p114 {
        height: 46px;
        top: 185px;
        right: 35px;
    }
    
    .p115 {
        height: 15px;
        top: 230px;
        right: 75px;
    }
    
    .p116 {
        height: 15px;
        top: 285px;
        right: 83px;
    }
    
    .p121 {
        z-index: 20;
        position: absolute;
        visibility: hidden;
    }
    
    .p1211 {
        height: 94px;
        top: -150px;
        right: 0;
    }
    
    .p122 {
        height: 62px;
        top: -50px;
        right: 50px;
    }
    
    .p123 {
        height: 45px;
        top: 30px;
        right: 20px;
    }
    
    .p124 {
        height: 45px;
        top: 180px;
        right: 75px;
    }
    
    .p131 {
        z-index: 20;
        position: absolute;
        visibility: hidden;
    }
    
    .p1311 {
        height: 94px;
        top: -150px;
        left: 0;
    }
    
    .p132 {
        height: 62px;
        top: -50px;
        left: 140px;
    }
    
    .p133 {
        height: 25px;
        top: 20px;
        left: 10px;
    }
    
    .p134 {
        height: 25px;
        top: 60px;
        left: 25px;
    }
    
    .p135 {
        height: 30px;
        top: 90px;
        left: 55px;
    }
    
    .p136 {
        height: 30px;
        top: 90px;
        left: 125px;
    }
    
    .p141 {
        z-index: 20;
        position: absolute;
        visibility: hidden;
    }
    
    .p1411 {
        height: 94px;
        top: -100px;
        right: 0;
    }
    
    .p142 {
        height: 62px;
        top: 0;
        left: 140px;
    }
    
    .p143 {
        height: 30px;
        top: 37px;
        left: 0;
    }
    
    .p144 {
        height: 30px;
        top: 7px;
        left: 70px;
    }
    
    .p145 {
        height: 30px;
        top: 130px;
        left: 35px;
    }
    
    .p146 {
        height: 30px;
        top: 110px;
        left: 115px;
    }
    
    .fixedBox {
        background-color: #ffffff;
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        font-size: 25px;
        cursor: pointer;
    }
    
    .fixedBox:hover {
        width: 60px;
        height: 60px;
        line-height: 55px;
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    
    .fixedBox1 {
        background-color: #FCA311;
        width: 30px;
        height: 30px;
        line-height: 25px;
        font-size: 18px;
        color: #ffffff;
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    
    .fixedBox1:hover {
        width: 40px;
        height: 40px;
        line-height: 35px;
        box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
    }
    
    @media (max-width: 575px) {
        .navbar a {
            font-size: 12px;
            letter-spacing: 1px;
        }
        .fz40 {
            font-size: 20px;
        }
    }
    /* Extra small devices (portrait phones, less than 576px) */
    
    @media (max-width: 575px) {
        .img01 .wordBox {
            position: absolute;
            right: 5%;
            bottom: -35px;
            -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
            -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.14);
        }
        .img01 .wordBox h1 {
            font-size: 80px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
        }
        .img01 .wordBox h2 {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 10px;
            position: absolute;
            bottom: -10px;
            right: 0px;
        }
        .sec p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            color: #ffffff;
            font-size: 14px;
        }
        .paper h3 {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 16px;
        }
        .paper p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            color: #2c2c2c;
            font-size: 14px;
            line-height: 24px;
        }
        .paper .wordBox {
            width: 70%;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
        header p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 900;
            color: white;
            font-size: 16px;
        }
        .animationPage .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .animationPage .container1 {
            max-width: 800px;
            height: auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .space {
            width: 100%;
            height: 70px;
        }
        .longText {
            line-height: 20px;
        }
        .videoBox p {
            font-size: 14px;
        }
        .videoBox h3 {
            font-size: 18px;
        }
        .web {
            left: -25px;
            top: 0px;
            transform: rotate(90deg) scale(0.5);
            height: 160px;
        }
        .pm {
            left: -50px;
            bottom: 0px;
            transform: rotate(90deg) scale(0.5);
            height: 290px;
        }
        .art {
            right: -50px;
            transform: rotate(-90deg) scale(0.5);
            height: 290px;
        }
        .an {
            right: -30px;
            top: 0px;
            transform: rotate(-90deg) scale(0.5);
            height: 160px;
        }
        .p1111 {
            height: 50px;
            top: -100px;
            right: 50px;
            transform: rotate(-90deg);
        }
        .p112 {
            height: 62px;
            top: -100px;
            right: 0px;
            transform: rotate(-90deg);
        }
        .p1211 {
            height: 50px;
            top: -130px;
            right: 100px;
            transform: rotate(-90deg);
        }
        .p122 {
            height: 62px;
            top: -110px;
            right: 70px;
            transform: rotate(-90deg);
        }
        .p1311 {
            height: 50px;
            top: -100px;
            left: 100px;
            transform: rotate(90deg);
        }
        .p132 {
            height: 62px;
            top: -100px;
            left: 90px;
            transform: rotate(90deg);
        }
        .p1411 {
            height: 50px;
            top: -100px;
            right: 100px;
            transform: rotate(90deg);
        }
        .p142 {
            height: 62px;
            top: -100px;
            left: -20px;
            transform: rotate(90deg);
        }
    }
    /* Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px) and (max-width: 767px) {
        .img01 .wordBox h1 {
            font-size: 100px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
        }
        .img01 .wordBox h2 {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 10px;
            position: absolute;
            bottom: -20px;
            right: 0px;
        }
        .paper h3 {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 500;
            color: #FCA311;
            font-size: 20px;
        }
        .paper p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            color: #2c2c2c;
            font-size: 14px;
        }
        .animationPage .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .animationPage .container1 {
            max-width: 800px;
            height: auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .sec p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 16px;
        }
        .fz40 {
            font-size: 24px;
        }
        .web {
            left: 60px;
            top: 0px;
            transform: rotate(90deg);
            height: 160px;
        }
        .pm {
            left: -50px;
            bottom: 0px;
            transform: rotate(90deg);
            height: 400px;
        }
        .art {
            right: -15px;
            transform: rotate(-90deg);
            height: 400px;
        }
        .an {
            right: 100px;
            top: 0px;
            transform: rotate(-90deg);
            height: 120px;
        }
        .p1111 {
            height: 50px;
            top: -100px;
            right: 50px;
            transform: rotate(-90deg);
        }
        .p112 {
            height: 62px;
            top: -100px;
            right: 0px;
            transform: rotate(-90deg);
        }
        .p1211 {
            height: 50px;
            top: -130px;
            right: 100px;
            transform: rotate(-90deg);
        }
        .p122 {
            height: 62px;
            top: -110px;
            right: 70px;
            transform: rotate(-90deg);
        }
        .p1311 {
            height: 50px;
            top: -100px;
            left: 100px;
            transform: rotate(90deg);
        }
        .p132 {
            height: 62px;
            top: -100px;
            left: 90px;
            transform: rotate(90deg);
        }
        .p1411 {
            height: 50px;
            top: -100px;
            right: 100px;
            transform: rotate(90deg);
        }
        .p142 {
            height: 62px;
            top: -100px;
            left: -20px;
            transform: rotate(90deg);
        }
    }
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) and (max-width: 991px) {
        .img01 .wordBox h1 {
            font-size: 100px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
        }
        .img01 .wordBox h2 {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 10px;
            position: absolute;
            bottom: -20px;
            right: 0px;
        }
        .paper h3 {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 500;
            color: #FCA311;
            font-size: 20px;
        }
        .paper p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            color: #2c2c2c;
            font-size: 14px;
        }
        .box_txt h3 {
            font-size: 16px;
        }
        .animationPage .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .animationPage .container1 {
            max-width: 800px;
            height: auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .main {
            margin: 0 auto;
            padding: 0em;
            padding-left: 0em;
        }
        .sec p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 16px;
        }
        .web {
            left: 60px;
            top: 0px;
            transform: rotate(90deg);
            height: 160px;
        }
        .pm {
            left: -50px;
            bottom: 0px;
            transform: rotate(90deg);
            height: 400px;
        }
        .art {
            right: -15px;
            transform: rotate(-90deg);
            height: 400px;
        }
        .an {
            right: 100px;
            top: 0px;
            transform: rotate(-90deg);
            height: 120px;
        }
        .p1111 {
            height: 50px;
            top: -100px;
            right: 50px;
            transform: rotate(-90deg);
        }
        .p112 {
            height: 62px;
            top: -100px;
            right: 0px;
            transform: rotate(-90deg);
        }
        .p1211 {
            height: 50px;
            top: -130px;
            right: 100px;
            transform: rotate(-90deg);
        }
        .p122 {
            height: 62px;
            top: -110px;
            right: 70px;
            transform: rotate(-90deg);
        }
        .p1311 {
            height: 50px;
            top: -100px;
            left: 100px;
            transform: rotate(90deg);
        }
        .p132 {
            height: 62px;
            top: -100px;
            left: 90px;
            transform: rotate(90deg);
        }
        .p1411 {
            height: 50px;
            top: -100px;
            right: 100px;
            transform: rotate(90deg);
        }
        .p142 {
            height: 62px;
            top: -100px;
            left: -20px;
            transform: rotate(90deg);
        }
    }
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) and (max-width: 1199px) {
        .animationPage .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .animationPage .container1 {
            max-width: 800px;
            height: auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .sec p {
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 16px;
        }
        .web {
            left: 10%;
        }
        .pm {
            left: 30%;
        }
        .art {
            right: 30%;
        }
        .an {
            right: 8%;
        }
        .card {
            min-width: 20%;
            margin-top: 15px;
        }
    }
    /* Extra large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        .paper .wordBox {
            width: 70%;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
        }
        .animationPage .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
        .animationPage .container1 {
            max-width: 800px;
            height: auto;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
            background-color: #fff;
        }
    }