@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.colorB {
    background-color: #14213D;
}

.colorY {
    background-color: #FCA311;
}

.colorG {
    background-color: #E5E5E5;
}

.header-carousel-item {
    height: 70vh;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

header {
    position: relative;
}

.up2 {
    position: relative;
    z-index: 2px;
}

.yellowWaterBack {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #14213D;
    z-index: 0;
}

.yellowWater {
    position: absolute;
    background-image: url(https://i.imgur.com/KUjL8Uf.png?1);
    width: 100%;
    height: 416px;
    background-position: center center;
    bottom: -400px;
    z-index: 1;
    -webkit-animation: upin 2s both;
    animation: upin 2s both;
}

footer {
    width: 100%;
    height: 80vh;
}

footer h1 {
    color: black;
}

footer p {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px 20px;
}

.btn {
    color: #FCA311;
    padding: 10px 50px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
}

.line {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    height: 10px;
    border-bottom: 5px solid #ffffff;
}

.space {
    border: 0px solid #ffffff;
    padding: 50px 50px;
}

@-webkit-keyframes upin {
    0% {
        bottom: -350px;
    }
    100% {
        bottom: -400px;
    }
}

@keyframes upin {
    0% {
        bottom: -350px;
    }
    100% {
        bottom: -400px;
    }
}

.section01 {
    position: relative;
    width: 100%;
    /* border: 10px solid #000000; */
}

.pageImg {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
}

.starBackground {
    position: relative;
    background-color: #14213D;
    width: 100%;
    height: 3300px;
    z-index: 0;
}

.pageBox {
    position: absolute;
    top: 400px;
    left: -50%;
    right: -50%;
    /* border: 10px solid #000000; */
    z-index: 2;
    width: 100%;
}

.page {
    /* border: 1px solid #000000; */
    width: 100%;
}

.page02 {
    margin-top: 360px;
}

.page03 {
    margin-top: 320px;
}

.page04 {
    margin-top: 350px;
    /* border: 1px solid #000000; */
}

.fire {
    position: absolute;
    right: 0px;
    top: 200px;
    width: 200px;
    transform: rotate(68deg);
    /* border: 10px solid #000000; */
    z-index: 1;
}

.rocket {
    position: absolute;
    left: 0px;
    top: 1200px;
    width: 400px;
    transform: rotate(0deg);
    /* border: 10px solid #000000; */
    z-index: 1;
}

.paint {
    position: absolute;
    right: 50px;
    top: 1950px;
    width: 450px;
    transform: rotate(0deg);
    /* border: 10px solid #000000; */
    z-index: 1;
}

.pic {
    background-color: #ffff00;
    width: 400px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #ffffff;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.75);
}

.pic01 {
    background-image: url(https://i.imgur.com/6w3STRk.jpg);
}

.pic02 {
    background-image: url(https://i.imgur.com/JaQQ8sR.jpg);
}

.pic03 {
    background-image: url(https://i.imgur.com/y80lg3q.jpg);
}

.num9487 {
    color: #14213D;
}

#page1_2 {
    position: relative;
    height: auto;
    width: 100%;
    top: 0px;
    /* border: 1px solid #000000; */
}

.border {
    border: 1px solid #000000;
}

.whiteBox {
    border: 1px solid #ffffff;
    padding: 7px 30px 7px 30px;
    margin: 5px 70px 0px 70px;
}

.circleFix {
    height: 150px;
    width: 50px;
    position: fixed;
    right: 5%;
    /* top: 50vh; */
    top: 50%;
    /* border: 1px solid #000000; */
    z-index: 2;
    margin-top: -75px;
}

.circle {
    /* border: 1px solid #000000; */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
}