@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.colorB {
    background-color: #14213D;
}

.colorY {
    background-color: #FCA311;
}

.colorG {
    background-color: #E5E5E5;
}

.header-carousel-item {
    height: 70vh;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

header {
    position: relative;
}

.up2 {
    position: relative;
    z-index: 2px;
}

.yellowWaterBack {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #14213D;
    z-index: 0;
}

.yellowWater {
    position: absolute;
    background-image: url(https://i.imgur.com/KUjL8Uf.png?1);
    width: 100%;
    height: 416px;
    background-position: center center;
    bottom: 100px;
    z-index: 1;
    -webkit-animation: upin 2s both;
    animation: upin 2s both;
}

@-webkit-keyframes upin {
    0% {
      bottom: 135px;
    }
    100% {
      bottom: 100px;
    }
  }
  @keyframes upin {
    0% {
      bottom: 135px;
    }
    100% {
      bottom: 100px;
    }
  }
