@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.colorB {
    background-color: #14213D;
}

.colorY {
    background-color: #FCA311;
}

.colorG {
    background-color: #E5E5E5;
}

.header-carousel-item {
    height: 70vh;
    z-index: 2;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.yellowWater {
    border: 0;
    background-image: url(https://i.imgur.com/FjnjBtN.png);
    width: 100%;
    height: 700px;
    position: absolute;
    top: 60vh;
    z-index: 1;
}

#section01 {
    height: 2000px;
    width: 100%;
    z-index: 0;
}